var config = {};


// use http://localhost:8080 for development
config.backendUrl = "YOUR_BACKEND_URL_HERE"; 

// use http://localhost:3000 for development
config.frontendUrl = "YOUR_FRONTEND_URL_HERE"; 

// refer to the README for steps to create the oauth link for your bot
config.oauthUrl = "YOUR_OAUTH_LINK"

export default config;
