:root{
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #2c2f33;
  --bg-secondary: #141418;
  --accent-primary: #23272a;

  --transition-speed: 200ms;
}
html{
  margin: 0;
  padding: 0;
}
body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}


