:root{
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #2c2f33;
  --bg-secondary: #141418;
  --bg-accent: #484a4d;
  --border-accent: #474a4d;
  --accent-primary: #23272a;
  --accent-secondary:#7289da;

  --transition-speed: 150ms;
}

ul{
  list-style: none;
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
}

html{
  margin: 0;
  padding: 0;
  
}
body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}



.noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

div, input, button { 
  outline-style:none;
}

