.searchbar{
    
    height:70%;
    width: 85%;
    color: white;
    color: black;
    border: 1px solid #3f444b;
    border-radius: 5px;
    padding: 2px 14px 2px 21px;
    outline: 0;
    background-color: #42464d;
    background-color: white;
    
}

.submit-button{
    border: 1px solid #3f444b;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--accent-secondary);
    cursor: pointer;
}

.submit-button:active{
    filter: grayscale(70%) opacity(0.7);
    transition: 50ms; 
}